<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.helena">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Monitoring.ListMonitoringActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Monitoring.SearchMonitoringActivity" />
        <activity android:name=".Monitoring.AddMonitoringActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ClinicDirectory.EditProfile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Therapy.ListTherapyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Therapy.TherapyActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MedicalDictionary.MedicalDictionary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ClinicDirectory.Profile" />
        <activity android:name=".LoginAndRegister.Register" />
        <activity android:name=".LoginAndRegister.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>